{% load static %}
<div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="container-fluid">
            <center>
                <h2 style="font-family: 'Book Antiqua' ;margin-top:18px">
                    {{ title }}
                </h2>
            </center>
            <br>
            <dl class="row">
                <dt class="col-sm-3">Nombre:</dt>
                <dd class="col-sm-7">{{ object.nombre }}</dd>
                <dt class="col-sm-3">Color:</dt>
                <dd class="col-sm-7">{{ object.color }}</dd>
            </dl>
        </div>
    </div>
    <br>
</div>
</div>